<main class="contenedor contenedor-formularios no-padding">
    <h1><%= nombrePagina%></h1>

    <form method="post" class="default-form" enctype="multipart/form-data">
        <legend>Sube tu imagen que se mostrará junto a tu nombre y biografía</legend>
        <div class="campo">
            <label for="text">Imagen</label>
            <input type="file" name="imagen">
        </div>
        <% if(usuario.imagen) { %>
            <div class="campo">
                <label for="text">Imagen actual</label>
                <img src="/uploads/perfiles/<%= usuario.imagen %>" alt="..." width="400">
            </div>
        <% } else { %>
            <p>No hay imagen actual</p>
        <% } %>
        <div class="campo enviar">
            <input type="submit" value="Subir imagen" class="btn btn-rosa">
        </div>
    </form>
</main>