<h1 style="
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
">Confirmar tu cuenta</h1>

<p style="
text-align: center;
font-family: Arial, Helvetica, sans-serif;
">Hola, estás a un paso de comenzar de crear una comunidad en Meeti, solo debes confirmar tu cuenta en el siguiente enlace:</p>

<a style="
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    background-color: #00C897;
    color: #F7F7F7;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
" href="<%= url %>" target="_blank">Confirmar tu cuenta</a>

<p style="
text-align: center;
font-family: Arial, Helvetica, sans-serif;
">Si no puedes acceder a este enlace, visita: <%= url%></p>

<p style="
text-align: center;
font-family: Arial, Helvetica, sans-serif;
">Si no solicitaste este e-mail puedes ignorarlo</p>